[submodule "LATIHAN1DPBO2022"]
	path = LATIHAN1DPBO2022
	url = https://github.com/sekarmk03/LATIHAN1DPBO2022.git
[submodule "LATIHAN2DPBO2022"]
	path = LATIHAN2DPBO2022
	url = https://github.com/sekarmk03/LATIHAN2DPBO2022.git
[submodule "LATIHAN3DPBO2022"]
	path = LATIHAN3DPBO2022
	url = https://github.com/sekarmk03/LATIHAN3DPBO2022.git
[submodule "LATIHAN4DPBO2022"]
	path = LATIHAN4DPBO2022
	url = https://github.com/sekarmk03/LATIHAN4DPBO2022.git
[submodule "DPBOKuis1"]
	path = DPBOKuis1
	url = https://github.com/sekarmk03/DPBOKuis1.git
[submodule "LATIHAN5DPBO2022"]
	path = LATIHAN5DPBO2022
	url = https://github.com/sekarmk03/LATIHAN5DPBO2022.git
[submodule "TP1DPBO2022"]
	path = TP1DPBO2022
	url = https://github.com/sekarmk03/TP1DPBO2022.git
[submodule "TP2DPBO2022"]
	path = TP2DPBO2022
	url = https://github.com/sekarmk03/TP2DPBO2022.git
[submodule "TP3DPBO2022"]
	path = TP3DPBO2022
	url = https://github.com/sekarmk03/TP3DPBO2022.git
